.wrapper-announcement {
    margin: 30px 0;
}

.announcement-items {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-gap: 30px;
}

.announcement-item {
    position: relative;
    padding: 40px 40px 30px 40px;
    background-color: #4dffff4f;
}

    .announcement-item h1 {
        font-size: 42px;
        font-weight: 600;
    }

    .announcement-item a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        color: #fff;
        font-size: 14px;
        background-color: #FF4D4D;
        border-radius: 10px;
    }

    .announcement-item img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 150px;
        height: 150px;
    }
.wrapper-best-choose {
    background-color: #F6F7F9;
}

.best-choose {
    padding-top: 70px;
}

    .best-choose h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

.best-choose-items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
}

.best-choose-item {
    cursor: pointer;
}

.best-choose-image {
    width: 100%;
    max-height: 130px;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
}

    .best-choose-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.best-choose-name p {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.best-choose-item:hover .best-choose-name p {
    color: #FF4D4D;
}







.best-products-items-container {
    max-width: 1290px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.best-options {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

    .best-options a {
        background-color: #fff;
        color: #7E8794;
        border-radius: 5px;
        padding: 5px 20px;
    }

.best-product-items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.best-product-item {
    background-color: #fff;
    padding: 20px;
}

.best-product-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-product-item-top-name {
    font-weight: 600;
}

.best-product-item-top-management {
    display: flex;
    grid-gap: 20px;
}

    .best-product-item-top-management > div {
        width: 100%;
        max-width: 45px;
        height: 100%;
        max-height: 45px;
        padding: 5px;
        background-color: #fff;
        border-radius: 30px;
        border: 1px solid rgb(240, 235, 235);
    }

        .best-product-item-top-management > div img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

.best-product-item-bottom {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.best-product-item-bottom-image {
    max-width: 125px;
    max-height: 125px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-right: 20px;
}

    .best-product-item-bottom-image img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

.best-product-item-bottom-characteristics {
    width: 100%;
}

    .best-product-item-bottom-characteristics > div p {
        color: #7E8794;
        letter-spacing: 1px;
    }

    .best-product-item-bottom-characteristics > div {
        margin-bottom: 10px;
    }

.best-product-item-bottom-characteristics-design {
    width: 100%;
}

.best-product-item-bottom-characteristics-design-area {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}

    .best-product-item-bottom-characteristics-design-area > div {
        height: 4px;
        background-color: #FF4D4D;
        border-radius: 5px;
        margin-top: 3px;
    }


.new-product-title {
    color: #000;
    font-size: 24px;
    margin: 80px 0 20px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.new-product-items {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}

.new-product-item {
    background-color: #F2F5F9;
    border-radius: 10px;
}

.new-product-item-container {
    padding: 20px;
}

.new-product-image {
    width: 100%;
    max-width: 230px;
}

    .new-product-image img {
        width: 100%;
        aspect-ratio: 4/2;
        object-fit: contain;
    }

.new-product-category-title {
    color: #7E8794;
    font-size: 14px;
    margin: 5px 0;
}

.new-product-name {
    max-width: 230px;
    color: #3c4c64;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.new-product-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.new-product-price {
    margin-bottom: 10px;
}

.new-product-price-top {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

    .new-product-price-top p {
        color: #7E8794;
        font-size: 14px;
    }

    .new-product-price-top span {
        font-size: 14px;
        color: rgb(5, 201, 5);
    }

.new-product-price-fact {
    font-size: 20px;
    color: #3c4c64;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2px;
}

.new-product-bottom-management {
    display: flex;
    grid-gap: 10px;
}

    .new-product-bottom-management > div {
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 30px;
        padding: 12px;
    }

        .new-product-bottom-management > div img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

.articles {
    margin-bottom: 80px;
}

.articles-title {
    margin: 80px 0 20px 0;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.articles-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.articles-image {
    width: 100%;
}

    .articles-image img {
        width: 100%;
        object-fit: contain;
    }

.articles-item-container {
    padding: 20px;
    background-color: rgb(229, 232, 235)
}

.articles-item-name {
    color: #263141;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0;
}
.best-choose-item {
    color: #263141;

}
.articles-item-desc {
    font-size: 16px;
    color: #7E8794;
    margin-bottom: 10px;
}

.articles-item-btn {
    color: #FF4D4D;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.window-request-wrapper{
    display:none;
}
.window-request-wrapper.active {
    display:block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    background-color: hsla(0, 0%, 0%, 0.5); /* Чёрный цвет с 50% прозрачностью */
    z-index: 1;
}

.window-request {
    max-width: 950px;
    margin: 0 auto;
    opacity: 100%;
    background-color: #F2F5F9;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
    height: 10px;
    display: block;
}

    .close::before,
    .close::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 15px;
        background-color: red;
    }

    .close::before {
        top: 0;
        right: 0;
        transform: rotate(-45deg);
    }

    .close::after {
        top: 0;
        right: 0;
        transform: rotate(45deg);
    }

.window-request-container {
    padding: 50px;
}

    .window-request-container p {
        text-align: center;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 50px;
    }

.window-request-buttons {
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}

    .window-request-buttons a {
        color: #fff;
        font-size: 600px;
        border-radius: 15px;
        padding: 10px 50px;
        font-size: 20px;
    }

.request-registration {
    background-color: #4DA6FF;
}

.request-auth {
    background-color: #FF4D4D;
}




@media(max-width:1200px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .new-product-items {
        grid-gap: 10px;
    }

    .new-product-name {
        font-size: 15px;
    }

    .new-product-item-container {
        padding: 10px;
    }

    .new-product-bottom-management > div {
        max-width: 35px;
        max-height: 35px;
    }
}

@media(max-width:1000px) {
    .container {
        max-width: 800px;
    }

    .prescription {
        display: none;
    }

    .best-product-item-top-name {
        font-size: 14px;
    }

    .best-product-item-bottom-characteristics-design p {
        font-size: 14px;
    }

    .best-product-item-bottom-characteristics-design-area div {
        height: 2px;
    }

    .new-product-items {
        grid-template-columns: repeat(3,1fr);
    }

    .articles-item-name {
        font-size: 16px;
    }

    .articles-item-desc {
        font-size: 14px;
    }

    .announcement-item h1 {
        font-size: 26px;
    }
}

@media(max-width:880px) {
    .container {
        max-width: none;
    }
}