
.account {
    margin-top: 50px;
    margin-bottom: 200px;
}

.account-name {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

    .account-name h2 {
        font-size: 34px;
        color: #263141;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-right: 15px;
    }

.account-edit-name {
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
}

    .account-edit-name img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.account-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 70px;
}

.account-item {
    background-color: aliceblue;
}

.account-item-container {
    padding: 30px;
}

.account-item-title {
    color: #263141;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
}

.account-items-switch {
    display: flex;
    flex-direction: column;
}

.account-item-swtich {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 45px;
    height: 25px;
    margin-right: 15px;
}

.account-item-swtich p {
    color: #4F6786;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Скрываем стандартный чекбокс */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Стили для ползунка */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4F6786;
    transition: 0.4s;
    border-radius: 34px;
}

    /* Круглый бегунок */
    .slider:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

/* Стили для переключателя в состоянии "вкл" */
input:checked + .slider {
    background-color: #15d345;
}

    input:checked + .slider:before {
        transform: translateX(20px);
    }

.account-items-select {
    margin-top: 20px;
}

.account-item-select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e8f0;
}

    .account-item-select select {
        margin-left: auto;
    }

select {
    appearance: none; /* Скрываем стандартную стрелку */
    -webkit-appearance: none; /* Для Safari и Chrome */
    -moz-appearance: none; /* Для Firefox */
    background-color: transparent; /* Убираем фон */
    padding-right: 20px; /* Добавляем отступ для кастомной стрелки */
}

.account-item-select {
    color: #2B3A4E;
}

    .account-item-select select {
        width: 100%;
        padding: 5px 0;
        border-radius: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        padding-right: 30px; /* Отступ для стрелки */
        margin-left: 10px;
    }

        .account-item-select select > option {
            background: #15d345;
            padding: 20px;
        }

    .account-item-select img {
        max-width: 25px;
        object-fit: contain;
        margin-right: 5px;
    }



.questions-menu {
}

.questions-link a img {
    max-width: 25px;
    max-height: 25px;
    object-fit: contain;
    margin-right: 10px;
}

.questions-link {
    display: flex;
    position: relative;
}

    .questions-link > a {
        display: flex;
        width: 100%;
        color: #344153;
        padding: 10px 0;
        border-bottom: 1px solid #DFE4EA;
        border-top: 1px solid #DFE4EA;
        align-items: center;
    }

.querstion-count {
    background-color: #FF4D4D;
    height: 20px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    margin-left: auto;
}

.quetion-sub-menu {
    display: none;
}

    .quetion-sub-menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: -260px;
    }

.questions-sub-link {
    width: 250px;
}

    .questions-sub-link a {
        width: 100%;
        display: block;
        color: #fff;
        background-color: #4F6786;
        padding: 10px 20px;
        overflow-wrap: break-word; /* Альтернатива для современных браузеров */
    }

        .questions-sub-link a:hover {
            color: #FF4D4D;
            border-bottom: 1px solid #FF4D4D;
        }

.account-item-havequestion {
    margin-top: 20px;
}

.account-item-havequestion-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #263141;
}

.account-item-havequestion p {
    font-size: 14px;
    color: #263141;
    color: #263141;
    margin-bottom: 15px;
}

.write-to-support {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background-color: #FF4D4D;
    padding: 10px 20px;
    border-radius: 10px;
}

.account-item-youracc {
    display: flex;
    flex-direction: column;
}

    .account-item-youracc a {
        display: block;
        padding: 15px 0;
        color: #263141;
    }

        .account-item-youracc a:hover {
            color: #FF4D4D;
        }

.reset-password {
    border-bottom: 1px solid #DFE4EA;
    border-top: 1px solid #DFE4EA;
}

.logout, .delete-account {
    border-bottom: 1px solid #DFE4EA;
}


@media(max-width:1470px) {
    .account-items {
        grid-gap: 40px;
    }
}

@media(max-width:1000px) {
    .account-items {
        grid-gap: 10px;
    }
}

@media(max-width:800px) {
    .write-to-support {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
}

@media(max-width:780px) {
    .account-items {
        grid-template-columns: repeat(1,1fr);
    }

    .quetion-sub-menu.active {
        top: 40px;
        left: 0;
        width: 100%;
    }

    .questions-sub-link {
        width: 100%;
    }
}
